<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#ocorrenciaModal" ng-disabled="isOcorrenciaSelected() || isProcessoClosed()" ng-click="modeOcorrencia()">
    <span class='glyphicon glyphicon-plus' />
    Ocorrência
</button>
<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#ocorrenciaModal" ng-disabled="!isOcorrenciaSelected() || isProcessoClosed()" ng-click="modeOcorrencia(true, false)">
    <span class='glyphicon glyphicon-pencil' />
    Ocorrência
</button>
<button type="button" class="btn btn-danger btn-sm" data-target="#ocorrenciaModal" ng-disabled="!isOcorrenciaSelected() || isProcessoClosed()" ng-click="modeOcorrencia(false, true)">
    <span class='glyphicon glyphicon-minus' />
    Ocorrência
</button>

<div id="ocorrenciaModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" ng-if="!deleteModeOcorrencia && !editModeOcorrencia">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times</button>
                <h4 class="modal-title">Adicionar Ocorrência</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label>Data:</label>
                    <input ng-model="ocorrencia.data" ng-disabled='true'/>
                </div>
                <div>
                    <label>Título:</label>
                    <input ng-model="ocorrencia.titulo"/>
                </div>
                <div>
                    <label>Descrição: </label>
                    <input ng-model="ocorrencia.descricao"/>
                </div>
                <div>
                    <label>Arquivo: </label>
                    <server-file file="file"></server-file>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="executeActionOcorrencia()" type="button" class="btn btn-primary" data-dismiss="modal">Adicionar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
        <div class="modal-content" ng-if="deleteModeOcorrencia && !editModeOcorrencia">
            <div class="modal-header modal-header-delete">
                <button type="button" class="close" data-dismiss="modal">&times</button>
                <h4 class="modal-title">Deletar Ocorrência</h4>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja deletar a ocorrência?<p>
            </div>
            <div class="modal-footer">
                <button ng-click="executeActionOcorrencia()" type="button" class="btn btn-danger" data-dismiss="modal">Deletar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
        <div class="modal-content" ng-if="!deleteModeOcorrencia && editModeOcorrencia">
            <div class="modal-header modal-header-edit">
                <button type="button" class="close" data-dismiss="modal">&times</button>
                <h4 class="modal-title">Editar Ocorrência</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label>Data:</label>
                    <input ng-model="selectedOcorrencia.data" ng-disabled='true'/>
                </div>
                <div>
                    <label>Título:</label>
                    <input ng-model="selectedOcorrencia.titulo"/>
                </div>
                <div>
                    <label>Descrição: </label>
                    <input ng-model="selectedOcorrencia.descricao"/>
                </div>
                <div>
                    <label>Arquivo: </label>
                    <server-file file="file"></server-file>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="executeActionOcorrencia(selectedOcorrencia)" type="button" class="btn btn-success" data-dismiss="modal">Editar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
