.jumbotron {
    width: 700px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.table{
    margin-top: 20px;
}
.form-control{
    margin-top: 20px;
}
.selecionado {
    background-color: yellow;
}
.negrito {
    font-weight: bold;
}

.title{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    /*color: ivory;*/
    font-weight: bold;
    font-size: 40px !important;
    
}

.search{
    width: 300px;
    margin-left: 20px;
}

.main_form{
    width: 100%;
}

.process_form{
    width: 100%;
    float: left;
    padding-left: 20px;
}

.process_buttons{
    padding-top: 10px;
    margin: auto;
    padding-bottom: 10px;
    text-align: center;
}

.grid_div{
    width: 70%;
    height: 300px;
    margin: auto;
    margin-top: 10px;
}

.main_panel_div{
    width:95%;
    margin:auto
}

.panel-heading{
    font-size: 20px
}

.panel-body{
    padding-top: 30px;
}

.input_size{
    width: 200px;
    height: 30px;
}

td {
    padding-top: 15px;
}

.toggle-form{
    float:right;
    cursor:pointer;
    width:25px;
}

.cursorPointer {
    cursor: pointer;
}

body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0e0e0e+0,4e5c5a+18,829d98+33,8ea6a2+50,99afab+67,aebfbc+78,d8e0de+100&1+0,0.69+100 */
    /*    background: -moz-linear-gradient(-45deg,  rgba(14,14,14,1) 0%, rgba(78,92,90,0.94) 18%, rgba(130,157,152,0.89) 33%, rgba(142,166,162,0.84) 50%, rgba(153,175,171,0.79) 67%, rgba(174,191,188,0.76) 78%, rgba(216,224,222,0.69) 100%);  FF3.6-15
        background: -webkit-linear-gradient(-45deg,  rgba(14,14,14,1) 0%,rgba(78,92,90,0.94) 18%,rgba(130,157,152,0.89) 33%,rgba(142,166,162,0.84) 50%,rgba(153,175,171,0.79) 67%,rgba(174,191,188,0.76) 78%,rgba(216,224,222,0.69) 100%);  Chrome10-25,Safari5.1-6
        background: linear-gradient(135deg,  rgba(14,14,14,1) 0%,rgba(78,92,90,0.94) 18%,rgba(130,157,152,0.89) 33%,rgba(142,166,162,0.84) 50%,rgba(153,175,171,0.79) 67%,rgba(174,191,188,0.76) 78%,rgba(216,224,222,0.69) 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#b0d8e0de',GradientType=1 );  IE6-9 fallback on horizontal gradient
    */
}

.footer{
    width: 100%;
    height: 90px;
    color: #00666d;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    padding-top: 5px;
    background-color: #FFF; 
}

.footer div{
    padding-right: 15px;
    padding-left: 15px;
}

.grid_lista{
    height: 400px;
}

.process_form .input-form{
    margin-top: 10px;
}

.process_form label{
    font-size: 16px;
    font-weight: bold;
    width: 10%
}

.ocorrencia-div {
    margin-top: 25px;
}

.tamanhoMedio{
    width: 150px;
}

.tamanhoGrande{
    width: 180px;
}

.modal-header{
    background-color: #00666d !important;
    color: white;
}

.modal-title{
    font-size: 20px;
}

input[type="checkbox"]{
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.modal-header-delete{
    background-color: #c9302c !important;
}

.modal-header-edit{
    background-color: #5cb85c !important;
}

.modal-body label{
    width: 85px;
}
.modal-body server-file{
    width: 340px;
}

.header img{
    height: 130px;
    width: 100%;
    margin-bottom: 30px;
}

.header {
    margin-top: 30px;
}

.panel-primary > .panel-heading{
    color: #FFF !important;
    background-color: #00666d !important;
    border-color: #00666d !important;
}

.btn-primary {
    color: #FFF !important;
    background-color: #00666d !important;
    border-color: #00666d !important;
}

.footer hr{
    width: 100%;
    height: 5px;
    background-color: #00666d;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}
body{
    margin-bottom:120px;
}