<html ng-app="processo">
    <head>
        <meta charset="UTF-8">
        <title>Processos</title>
        <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/ui.css">
        <link rel="stylesheet" type="text/css" href="css/grid.css">
        <link rel="styleSheet" href="components/angular-ui-grid/ui-grid.min.css"/>
        <!--<link rel="styleSheet" href="components/ng-dialog/css/ngDialog.css"/>-->
        <script src="components/jquery/dist/jquery.min.js"></script>
        <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="components/angular/angular.js"></script>
        <!--<script src="components/ng-dialog/js/ngDialog.js"></script>-->
        <script src="components/angular-messages/angular-messages.js"></script>
        <script src="components/angular-ui-grid/ui-grid.js"></script>
        <script src="js/app.js"></script>
        <script src="js/directives/grid/grid.directive.js"></script>
        <!--<script src="js/directives/serverFile/serverFile.directive.js"></script>-->
        <script src="js/controllers/processoController.js"></script>
        <!--<script src="js/factories/dialog/dialog.factory.js"></script>-->
        <script src="js/services/processoService.js"></script>
        <script src="js/configs/configValue.js"></script>
        <script src="components/remarkable-bootstrap-notify/dist/bootstrap-notify.js"></script>
        <!--<script data-main="js/app.all" src="components/requirejs/require.js"></script>-->

    </head>
    <body ng-controller="processoController">
        <div>
            <h1 class="title">Processos</h1>
            <hr />
            <div ng-messages="processoForm.$error" style="color:maroon" role="alert">

            </div>
            <div id="listaProcessos" class="main_panel_div">
                <div class="panel panel-primary">
                    <div class="panel-heading cursorPointer" data-toggle="collapse" data-target="#panel-lista" ng-click="toggleImg('toggleImgOpenLista', 'toggleImgSrcLista')">
                      Lista de Processos
                      <img  class="toggle-form" src="{{toggleImgSrcLista}}">
                    </div>
                    <div class="collapse" id="panel-lista">
                        <div class="panel-body">
                            <div class="grid_lista">
                                <grid grid-options="gridOptionsProcessos" data="processos" select-callback="selectProcesso" unselect-callback='novoProcesso' handler="processoHandler"></grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="cadastroProcessos" class="main_panel_div">
                <div class="main_form panel panel-primary">
                    <div class="panel-heading cursorPointer" data-toggle="collapse" data-target="#panel-cadastro" ng-click="toggleImg('toggleImgOpenCadastro', 'toggleImgSrcCadastro')" >
                      Cadastro de Processos
                      <img class="toggle-form" src="{{toggleImgSrcCadastro}}">
                    </div>
                    <div class="collapse in" id="panel-cadastro">
                        <div class="panel-body" >
                            <div class="process_form" style="width:100%">
                                <form name="processoForm">
                                    <div class="input-form">
                                        <label>Processo:</label>
                                        <input class="formControl input_size" type="text" ng-model="processo.processo" ng-disabled="PageMode == 'UPDATE'"
                                          placeholder="Processo" ng-required="true" ng-minlength="3" />
                                    </div>
                                    <div class="input-form">
                                        <label>Fiscal:</label>
                                        <select class="input_size"
                                          ng-options="item as item.nome for item in fiscais | orderBy: 'nome' track by item.id"
                                          ng-model="processo.fiscal"
                                          ng-required='true'
                                          ng-disabled="PageMode == 'UPDATE'">
                                          <option style="display:none" value="">Selecione</option>
                                        </select>
                                    </div>
                                    <div class="input-form">
                                        <label>Tipo Fiscalização:</label>
                                        <select class="input_size"
                                          ng-options="item as item.label for item in tiposDeFiscalizacao | orderBy:'label' track by item.id"
                                          ng-model="processo.tipoFiscalizacao"
                                          ng-required='true'
                                          ng-disabled="PageMode == 'UPDATE'">
                                            <option style="display:none" value="">Selecione</option>
                                        </select>
                                    </div>
                                    <div class="input-form">
                                        <label>Município:</label>
                                        <select class="input_size"
                                          ng-options="item as item.municipio for item in municipios | orderBy:'municipio' track by item.id"
                                          ng-model="processo.municipio"
                                          ng-required='true'
                                          ng-disabled="PageMode == 'UPDATE'">
                                            <option style="display:none" value="">Selecione</option>
                                        </select>
                                    </div>

                                    <div class="input-form">
                                        <label>Regularidade:</label>
                                        <input type="checkbox" ng-model="processo.regularidade" ng-disabled="PageMode == 'UPDATE'"/>
                                    </div>
                                    <div class="input-form" ng-show='processo.regularidade'>
                                        <label>Motivo Regularidade:</label>
                                        <input class="formControl input_size" type="text"
                                          ng-model="processo.motivoRegularidade"/>
                                    </div>

                                    <div class="irregularidades-div" ng-show='!processo.regularidade'>
                                        <label>Irregularidades:</label>
                                        <div style="display: inline !important;" ng-include="'view/cadastroIrregularidadeModal.html'"></div>
                                        <div class="grid_div">
                                            <grid grid-options="gridOptionsIrregularidades" data="irregularidades" select-callback="selectIrregularidade"></grid>
                                        </div>
                                    </div>

                                    <div class="input-form">
                                        <label>Autuado:</label>
                                        <input class="formControl input_size" type="text" ng-model="processo.autuado" ng-disabled="PageMode == 'UPDATE'"/>
                                    </div>

                                    <div class="input-form">
                                        <label>Data Visita:</label>
                                        <input class="formControl input_size" type="date" ng-model="processo.dataVisita" ng-required='true' ng-disabled="PageMode == 'UPDATE'"/>
                                    </div>
                                    <div class="input-form">
                                        <label>Data Criação:</label>
                                        <input class="formControl input_size" type="date" ng-model="processo.dataCriacao" ng-disabled='true'/>
                                    </div>

                                    <div class="input-form">
                                        <label>Situação:</label>
                                        <input class="formControl input_size" type="text" ng-model="processo.situacao" ng-disabled='true'/>
                                    </div>
                                    <div class="ocorrencia-div">
                                        <label>Ocorrências:</label>
                                        <div style="display: inline !important;" ng-include="'view/cadastroOcorrenciaModal.html'"></div>
                                        <!--<button class="btn btn-primary add_acorrencia">Adicionar Ocorrência</button>-->
                                        <div class="grid_div">
                                            <grid grid-options="gridOptionsOcorrencias" data="ocorrencias" select-callback="selectOcorrencia"></grid>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class='process_buttons'>
                              <button type="button" class="btn btn-primary" ng-click="adicionarProcesso(processo)" ng-show='!isProcessoClosed()'>
                                <span class='glyphicon glyphicon-floppy-disk' />
                                Salvar
                              </button>
                              <button type="button" class="btn btn-primary" ng-click="fecharProcesso(processo)" ng-show='!isProcessoClosed()'>
                                <span class='glyphicon glyphicon-floppy-saved' />
                                Salvar/Fechar
                              </button>
                              <button type="button" class="btn btn-primary" ng-click="novoProcesso()">
                                <span class='glyphicon glyphicon-file' />
                                Novo
                              </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div ng-include="'view/footer.html'"></div>-->
    </body>
</html>
